shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

public-hoist-pattern[]=*cli*
public-hoist-pattern[]=*binary*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=@nestjs/cli

prefer-frozen-lockfile=true
resolution-mode=highest