@import "../../../../../../node_modules/.pnpm/tailwindcss@4.1.12/node_modules/tailwindcss/dist/lib.d.mts";
@import "../../../../../../node_modules/.pnpm/@nuxt+ui@4.0.0-alpha.0_@babel+parser@7.28.3_@netlify+blobs@9.1.2_axios@1.11.0_change-ca_63ecef559f03e17123615a719c842f2e/node_modules/@nuxt/ui/dist/module.d.mts";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
